body,html,#app{
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}
*{
	margin: 0;
	padding: 0;
}
.headAppointment {
	width: 97%;
	margin-left: 3%;
	margin-top: 10px;
  }
  @font-face{
	  font-family: 'loginText';
	  src: url('../assets/汉标景晨毛笔行书体.ttf');
  }
