<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.TbBookMapper">
    <select id="selectIsbnBook" resultType="com.example.demo.entity.TbBook">
        select * from tb_book where isbn like #{isbn}
    </select>

    <select id="selectAllBook" resultType="com.example.demo.entity.TbBook" >
        select * from tb_book
    </select>

    <insert id="insertBook">
        insert into tb_book(isbn,bookName,author,press,bookDate,bookNumber,appNumber,readNumber,bookUrl,address)
        values (#{isbn},#{bookName},#{author},#{press},#{bookDate},#{bookNumber},#{appNumber},#{readNumber},#{bookUrl},#{address})
    </insert>

    <delete id="deleteBook">
        delete from tb_book where isbn like #{isbn}
    </delete>

    <update id="updateBook">
        update tb_book
        set isbn=#{isbn},bookName=#{bookName},author=#{author},press=#{press},bookNumber=#{bookNumber},bookUrl=#{bookUrl},address=#{address}
        where isbn like #{isbn}
    </update>

    <select id="selectBookNameBook1" resultType="com.example.demo.entity.TbBook">
        select * from tb_book where bookName like #{bookName}
    </select>

    <select id="selectAuthorBook" resultType="com.example.demo.entity.TbBook">
        select * from tb_book where author like #{author}
    </select>

    <select id="selectBookNameBook2" resultType="com.example.demo.entity.TbBook">
        select * from tb_book where bookName like concat('%',#{bookName},'%')
    </select>

    <!--查询所有的书本计数-->
    <select id="selectAllJiShu" resultType="com.example.demo.entity.TbBook">
        select * from tb_book
    </select>
</mapper>